.board {
    display: flex;
    flex-direction: column;
    background-color: none;
    color: var(--text-h);
    margin: auto;
    width: fit-content;
}
.Row {
    display: flex;
    flex-direction: row;
    background-color: none;
}

.Square {
    all: unset;
    align-content: center;
    background-color: var(--bg);
    border-radius: 10%;
    border: 2px solid var(--accent);
    width: 70px;
    height: 70px;
    margin: 1%;
}

.SquareGreen {
    all: unset;
    align-content: center;
    background-color: var(--greenSquare);
    border-radius: 10%;
    border: 2px solid var(--accent);
    width: 70px;
    height: 70px;
    margin: 1%;
}
.SquareYellow {
    all: unset;
    align-content: center;
    background-color: var(--yellowSquare);
    border-radius: 10%;
    border: 2px solid var(--accent);
    width: 70px;
    height: 70px;
    margin: 1%;
}
.SquareRed {
    all: unset;
    align-content: center;
    background-color: var(--redSquare);
    border-radius: 10%;
    border: 2px solid var(--accent);
    width: 70px;
    height: 70px;
    margin: 1%;
}