@keyframes popIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.housing {
    all: unset;
    position: fixed;
    width: 100%;
    animation: popIn 0.8s forwards;
}

.housing img {
    scale: 0.2;
    position: relative;
}

.trumpetLeft {
    translate: 160px 0;
    z-index: 100;
}

.trumpetRight {
    translate: -160px 0;
    z-index: 100;
}

.bigSquare {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 99;
    inset: 0;
    margin: auto;
    width: 280px;
    height: 210px;
    background-color: var(--bg);
    border-radius: 10%;
    border: 2px solid var(--accent);
    color: var(--text-h);
}

.youWin {
    background-color: none;
    align-content: center;
}

.close {
    all: unset;
    position: absolute;
    bottom: 5%;
    background-color: none;
    transition: scale 0.15s ease-in, color 0.15s ease-in;
    color: var(--text);
}

.close:hover{
    scale: 1.2;
    color: var(--text-h)
}

.fireworks-canvas {
    position: absolute;
    inset: 0;
}